:root{
    --title-main-color:#212121;
    --logo-secondary-color:#2196F3;
    --title-text-color:#757575;
    --background-color:#FFFFFF;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #757575;
}
h1,h2,h3{
    color:var(--title-main-color);
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;}
p{
        margin: 0;
    }
    

/* Containeer */
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Header */
.header-flex{
    display: flex;
    align-items: center;
}
.site-nav-list{ 
    display: flex;
    align-items: center;  
}
.contact-links{
    display: flex;
    align-items: center;   
}
.s 

.page-header{
    background: var(--background-color);

    /* LOGO */

} 
.site-logo{
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
    
}
.web-logo-part{
    color: var(--logo-secondary-color); 

    
    /* HEADER-NAV */
}
.site-nav-list .link{
    padding-bottom: 32px;
    padding-top: 32px;
}

.site-nav-list .item:not(:last-child){
    margin-right: 50px;
}



.site-nav-list .link{
    display: block;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-main-color);
    text-decoration: none;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-list .link:hover,
.site-nav-list .link:focus{
    color:var(--logo-secondary-color);
}

.site-nav-list .link.current{
    color: var(--logo-secondary-color);
}

.header-nav .link{
    position: relative;
}

.current::after{
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    display: block;
    background: var(--logo-secondary-color);
    border-radius: 2px;
    width:100%;
    height: 4px;
}

.contact-links .link{
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-text-color);
    text-decoration: none;
    padding-bottom: 32px;
    padding-top: 32px;
    }
    .contact-links{
        margin-left: auto;
    }
    .header-icons{
        margin-right: 10px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.contact-links .item:not(:last-child){
    margin-right:50px;
}
 .link:hover .header-icons,
 .link:focus .header-icons{
    fill: var(--logo-secondary-color);
}
 .link:hover,
 .link:focus{
    color: var(--logo-secondary-color);
} 
.link{
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Hero */

.hero{
    background: #2F303A;
    background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
    url(../images/Img.jpg);
    margin: 1600px; 
    margin:0 auto ;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
    margin-bottom: 40px;
}
.hero-btn{
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.87;
    /* display:inline-block; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--background-color);
    background: var(--logo-secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px 10px 32px;
    min-width: 200px;
    border: none;
    
}

/* Our benefits */
main{
    background: var(--background-color);
}
.benefits{
    padding-top: 94px;
    padding-bottom: 94px;
}
.benefits-list{
    display: flex;
    }
.benefits-item:not(:last-child){
    margin-right:30px;
}
.benefits-item{
    max-width: 270px;
}
.benefits-list .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.benefits-list .text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
 
/* What are we doing */

.services{
    padding-bottom: 94px;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-main-color);
    margin-bottom: 50px;
}
.services-list{
    display: flex;
      
}
.img-item:not(:last-child){
    margin-right: 30px;
}


.services-thumb{    
    position: relative;
    
}

.services-description{
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding: 27px;
    bottom: 0;
}




/* Our Team */
.team{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.team-list{
    display: flex;
    }

.team-list .team-member{
    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 428px;
    
}
.team-list .team-member:not(:last-child){
    margin-right: 30px;
}


.team-list .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-main-color);
     margin-bottom: 10px; 
}
.team-list .text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 16px;
   
}
.description-container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.soc-link{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-links-item{
    height: 44px;
    width: 44px;
}
.soc-links-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.soc-links-icon{
    fill:#AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover,
.soc-link:focus{
    background-color: var(--logo-secondary-color);
}
.soc-link:hover .soc-links-icon,
.soc-link:focus .soc-links-icon{
    fill:var(--background-color);
}

/* OUR CLIENTS */
.clients{
    padding: 94px 0;
}
.clients-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.clients-list-item{
    width: 170px;
    height: 92px;
}
.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon{
    fill: var(--logo-secondary-color);
    }
.clients-link:hover,
.clients-link:focus{
    border-color: var(--logo-secondary-color);
}
/* Footer */
.footer{
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--background-color);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    
}
.web-logo-part{
    color:var(--logo-secondary-color);
}
 .address-list .address-item:not(:last-child){
    margin-bottom: 9px;
} 
.address-list .footer-address-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--background-color);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list .footer-address-link:hover,
.address-list .footer-address-link:focus{
    color: var(--logo-secondary-color);
}
.address-list .link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list .link:hover,
.address-list .link:focus{
    color: var(--logo-secondary-color);
}
.footer-title{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color);
}
.footer-soc{
margin-left: 70px;
align-items: baseline;
    }
.footer-soc-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-soc-icon{
    fill: var(--background-color);
}
.footer-soc-link{ 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus{
    background-color: var(--logo-secondary-color);
}
.footer-container{
    display: flex;
}

/* MODAL */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms linear, visibility 500ms;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

 

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 528px;
    height: 581px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

/* Portfolio */
.page-header{
    border-bottom: 1px solid #ececec;
}

.portfolio-main{
    background: var(--background-color);
    padding: 94px 0;
}

/* Buttons */
.buttons-list{
    display: flex;
    justify-content: center;
}
.btn-item{
    margin-right: 8px;
}
.buttons-list{
    margin-bottom: 50px;
}
.buttons-list .filtr-btn{
    
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border-width: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .filtr-items-list .filtr-item:hover,
.filtr-items-list .filtr-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.buttons-list .filtr-btn:hover,
.buttons-list .filtr-btn:focus{
  background-color:var(--logo-secondary-color);
  color:var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
}
.filtr-items-list{
    display: flex;
    flex-wrap: wrap;
    
    
}
 .filtr-items-list .item-description-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-main-color);
    }
    .filtr-items-list .item-description-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.filtr-items-list .filtr-item{
    background: var(--background-color);
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-items-list .filtr-item:nth-child(3n){
    margin-right: 0px;
}
.filtr-items-list .filtr-item:nth-last-child(-n+3){
    margin-bottom: 0;
}
.item-description-box{
    padding: 20px 24px ;
    border: 1px solid #EEEEEE;
}

/* OVERLAY */

.overlay-wrapper{
    position: relative;
    overflow: hidden;
}

.overlay-text{
    position: absolute;
    top: 0;
    left: 0;
    bottom: -1px;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.filtr-item:hover .overlay-text,
.filtr-item:focus .overlay-text{
    transform: translateY(0);
}